# Ignore everything except what we need for building
**/.git
**/.gitignore
**/.gitmodules
**/.state
**/target
**/store
Dockerfile*
docker-compose*
.dockerignore
README.md
LICENSE
.*.toml
*.md
!Dockerfile.maelstrom
!Dockerfile.tla
!docker-entrypoint.sh
!Makefile
!maelstrom/
